NEXT_PUBLIC_API_URL=/backend
NEXT_PUBLIC_X_LAYER_RPC_URL=https://rpc.xlayer.tech
NEXT_PUBLIC_PROOF_OF_VAULT_TARGET_EVM_CHAIN_ID=196
NEXT_PUBLIC_PROOF_OF_VAULT_OKX_CHAIN_INDEX=196
NEXT_PUBLIC_PROOF_OF_VAULT_EXPLORER_URL=https://www.oklink.com/xlayer
NEXT_PUBLIC_PROOF_OF_VAULT_VAULT_FACTORY_ADDRESS=0x0000000000000000000000000000000000000000
NEXT_PUBLIC_PROOF_OF_VAULT_POV_TOKEN_ADDRESS=0x0000000000000000000000000000000000000000
API_PROXY_TARGET=http://127.0.0.1:4000
